<div>
    <h3>{{heroeSelected.supername}}</h3>
    <hr>

    <div>
        <span>Nombre Real: </span>
        <span>{{heroeSelected.realname}}</span>
    </div>

    <div>
        <span>Edad: </span>
        <span>{{heroeSelected.age}}</span>
    </div>

    <div>
        <span>Pais: </span>
        <span>{{heroeSelected.country}}</span>
    </div>

</div>

<ul class="list-group pt-4">
    <li *ngFor="let heroe of heroes" class="list-group-item">
        {{heroe.supername}}
        <button type="button" (click)="changeHero(heroe)" class="btn btn-outline-warning">Ver</button>
    </li>
  </ul>